* {
  font-family: 'Cerebri Sans Pro' !important;
  scroll-behavior: smooth !important;
}

.max-h-100-vh {
  max-height: 100vh !important;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.bg-white {
  background: white;
}

.bg-custom-gray {
  background: rgb(255, 255, 255);
}

.custom-card {
  border-color:'#ccc',;
  box-shadow: 0.5px 0.5px 0.5px goldenrod;
}
