@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  @font-face {
    font-family: 'Cerebri Sans Pro';
    src: local('Cerebri Sans Pro'), url('./fonts/CerebriSansProRegular.ttf') format('truetype');
  }
}


h1 {
  color: #443203 !important;
}

.g-primary-color {
  color: #B38F3A !important;
}

.g-primary-color-dark {
  color: #957022 !important;
}

p .p-bold {
  color: #443203 !important;
}

.rs-picker-disabled {
  background-color: #bea2a2 !important;
  border: 1px solid #e5e5ea !important;
  color: #B38F3A !important;
}

